! special
*.foreground:   #c5c5c5
*.background:   #242A34
*.cursorColor:  purple

! black
*.color0:       #1c1c1c
*.color8:       #666666

! red
*.color9:       #ff005b
*.color5:       #ff00a0

! poorple #7F47F3
! orange #FF6100
*.color4:       #81A2BE
*.color1:       #81A2BE
*.color14:      #81A2BE
*.color12:      #81A2BE

*.color10:      #ccff00

! yellow
*.color3:       #E1D58D
*.color11:      #ff9f00

! green-tirkiz #1FD47A
! green #32FF00
! red	#DE0000
*.color2:	#32FF00
! purpul

! magenta
*.color13:      #be67e1

! darkblue #005DFF
*.color6:       #FF6100
! prupl

! white
*.color7:       #e5e5e5
*.color15:      #f3f3f3

URxvt.intensityStyles:	false
!URxvt.background:       #1C1F26
URxvt.depth:		32
!URxvt.font: 		xft:DejaVu Sans Mono:size=10
URxvt.font:		xft:FiraCode:bold:size=10
!URxvt.font: 		xft:Hack:size=10


!URxvt.font:		xft:TamzenForPowerline:style=Medium:antialias=false
!URxvt.font:		xft:Fixedsys Excelsior 3.01:style=Regular:size=12
!URxvt.boldFont:		xft:Fixedsys Excelsior 3.01:style=Regular:size=12
URxvt.scrollBar:	false

URxvt.transparent:	false
URxvt.shading:		20
!URxvt*blurRadius: 	10

!! Extensions
URxvt.perl-ext-common:	default,matcher,resize-font,keyboard-select
URxvt.colorUL:		#4682B4
!! url-select
!URxvt.keysym.M-u:	perl:url-select:select_next
URxvt.url-select.launcher: linkhandler
URxvt.url-select.underline: true
!! keyboard-select:
URxvt.keysym.M-Escape: perl:keyboard-select:activate
!! resize-font
URxvt.resize-font.smaller:	C-Down
URxvt.resize-font.bigger:	C-Up
!! Matcher
URxvt.url-launcher:	linkhandler
URxvt.matcher.button:	1
