! special
*.foreground:   #c5c5c5
*.background:   #1c1c1c
*.cursorColor:  #8B68BD

! black
*.color0:       #1c1c1c
*.color8:       #666666

! red
*.color9:       #ff005b
*.color5:       #ff00a0

! poorple
*.color4:       #8B68BD
!#009B59
! #7bcc1a
*.color10:      #ccff00

! yellow
*.color3:       #E1D58D
*.color11:      #ff9f00

! blue
*.color2:	#438CC8
!#B5BD68
! purpul
*.color12:      #8B68BD

! orang
*.color1:       #FF9E00
! magenta
*.color13:      #be67e1

! darkblue
*.color6:       #005DFF
! prupl
*.color14:      #8B68BD

! white
*.color7:       #e5e5e5
*.color15:      #f3f3f3

URxvt.intensityStyles:	false
!URxvt.background:       [50]#000000
URxvt.depth:		32
!URxvt.font: 		xft:monospace:size=11
!URxvt.font:		xft:TamzenForPowerline:style=Medium:antialias=false
URxvt.font:		xft:DejaVu Sans Mono:size=10
!URxvt.font:		xft:Fixedsys Excelsior 3.01:style=Regular:size=12
!URxvt.boldFont:		xft:Fixedsys Excelsior 3.01:style=Regular:size=12
URxvt.scrollBar:	false

URxvt.transparent:	true
URxvt.shading:		10
!URxvt*blurRadius: 	10

!! Extensions
URxvt.perl-ext-common:	default,matcher,resize-font,url-select,keyboard-select
URxvt.colorUL:		#4682B4
!! url-select
URxvt.keysym.M-u:	perl:url-select:select_next
URxvt.url-select.launcher: linkhandler
URxvt.url-select.underline: true
!! keyboard-select:
URxvt.keysym.M-Escape: perl:keyboard-select:activate
!! resize-font
URxvt.resize-font.smaller:	C-Down
URxvt.resize-font.bigger:	C-Up
!! Matcher
URxvt.url-launcher:	linkhandler
URxvt.matcher.button:	1

rofi.color-enabled:	true
rofi.color-window:	#000, #000, #000
rofi.color-normal:	#111, #819396, #222, #008ed4, #ffffff
rofi.color-active:	#002b37, #008ed4, #003643, #008ed4, #66c6ff
rofi.color-urgent:	#002b37, #da4281, #003643, #008ed4, #890661
