! special
*.foreground:   #c0c5ce
*.background:   #2b303b
*.cursorColor:  #c0c5ce

! black
*.color0:       #2b303b
*.color8:       #65737e

! red
*.color1:       #bf616a
*.color9:       #bf616a

! green
*.color2:       #a3be8c
*.color10:      #a3be8c

! yellow
*.color3:       #ebcb8b
*.color11:      #ebcb8b

! blue
*.color4:       #8fa1b3
*.color12:      #8fa1b3

! magenta
*.color5:       #b48ead
*.color13:      #b48ead

! cyan
*.color6:       #96b5b4
*.color14:      #96b5b4

! white
*.color7:       #c0c5ce
*.color15:      #eff1f5

URxvt.intensityStyles:	false
!URxvt.background:       [50]#000000
URxvt.depth:		32
!URxvt.font: 		xft:monospace:size=11
!URxvt.font:		xft:Tamzen:style=Medium:size=14
!URxvt.boldFont:		xft:Tamzen:style=Bold
URxvt.font:		xft:Fixedsys Excelsior 3.01:style=Regular:size=12
URxvt.boldFont:		xft:Fixedsys Excelsior 3.01:style=Regular:size=12
!URxvt.font:         	xft:Hack-Regular:pixelsize=14,xft:Symbola
URxvt.scrollBar:	false
URxvt.cursorColor:	#b48ead
URxvt.transparent:	false
URxvt.shading:		20
!URxvt*blurRadius: 	10

!! Extensions
URxvt.perl-ext-common:	default,matcher,resize-font,url-select,keyboard-select
URxvt.colorUL:		#4682B4
!! url-select
URxvt.keysym.M-u:	perl:url-select:select_next
URxvt.url-select.launcher: linkhandler
URxvt.url-select.underline: true
!! keyboard-select:
URxvt.keysym.M-Escape: perl:keyboard-select:activate
!! resize-font
URxvt.resize-font.smaller:	C-Down
URxvt.resize-font.bigger:	C-Up
!! Matcher
URxvt.url-launcher:	linkhandler
URxvt.matcher.button:	1

rofi.color-enabled:	true
rofi.color-window:	#000, #000, #000
rofi.color-normal:	#111, #819396, #222, #008ed4, #ffffff
rofi.color-active:	#002b37, #008ed4, #003643, #008ed4, #66c6ff
rofi.color-urgent:	#002b37, #da4281, #003643, #008ed4, #890661
